[Unit]
Description=telegraph_listener
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/rpi_telegraph/telegraph_listener.py
Restart= on-failure
RestartSec = 10
CPUSchedulingPolicy=rr
CPUSchedulingPriority=1

[Install]
WantedBy=multi-user.target
