[Unit]
Description=telegraph_listener
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/rpi_telegraph/telegraph_listener.py
WorkingDirectory=/tmp
Restart= on-failure
RestartSec = 10
CPUSchedulingPolicy=rr
CPUSchedulingPriority=80

[Install]
WantedBy=multi-user.target
